.centerVertically {
  display: flex;
  align-items: center;
}

.centerHorizontally {
  left: 50%;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer {
  cursor: pointer;
}