/* Profile */
.username {
  letter-spacing: .5px !important;
}

.username:hover, .sectionTitle:hover {
  color: #1ED760 !important;
  transition: .2s linear;
  cursor: default
}

.statsText {
  text-transform: uppercase;
  color: #696969;
  font-size: 14px;
  font-weight: bold;
  filter: brightness(1.2)
}

.statsNumber {
  font-weight: bold;
}

.baseProfileText {
  font-size: 14px;
  padding-left: 12px;
}

.mediumProfileText {
  font-size: 16px;
  padding-left: 12px;
}

.truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionTitle {
  color: white;
  font-size: 24px;
  float: left;
}
