/* Profile */
.username {
  letter-spacing: .5px !important;
}

.username:hover {
  color: #1ED760 !important;
  transition: .2s linear;
  cursor: pointer;
}

.statsText {
  text-transform: uppercase;
  color: #696969;
  font-size: 14px;
  font-weight: bold;
  filter: brightness(1.2)
}

.statsNumber {
  font-weight: bold;
}

.baseProfileText {
  font-size: 14px;
  padding-left: 12px;
}

.centerVertically {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
