.navTitle {
  color: white;
  font-size: 10px;
  padding-top: 4px;
}

.icon {
  color: #696969;
}

.mainIcon {
  fill: #1ED760;
  height: 48px;
}

.mainIcon:hover {
  filter: brightness(1.25)
}

.listItem {
  padding: 10px 0;
  border-left: 5px solid black;
}

.listItem:hover, .navbarItemActive {
  background-color: rgb(71, 71, 71);
  cursor: pointer;
  border-left: 5px solid #1DB954;
}

.mobileListItem {
  padding-bottom: 4px;
  border-top: 5px solid black;
}

.mobileListItem:hover, .navbarMobileItemActive {
  background-color: rgb(71, 71, 71);
  cursor: pointer;
  border-top: 5px solid #1DB954;
}

.navbarItemActive .icon {
  color: #1ED760;
}

.navbarMobileItemActive .icon {
  color: #1ED760;
}

.listItem:hover .icon, .mobileListItem:hover .icon {
  color: #1ED760;
}